{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Mail Sender</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <div class="formbold-mb-5">
              <label for="email" class="formbold-form-label">
                Send files to this email:
              </label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
                class="formbold-form-input"
              />
            </div> -->

                <div class="mb-6 pt-4">
                    <label class="formbold-form-label formbold-form-label-2">
                        Upload Files
                    </label>

                    <div class="formbold-mb-5 formbold-file-input">
                        <label for="subject_file">
                            <input type="file" name="subject_file" id="subject_file" />
                            <div>
                                <span class="formbold-drop-file"> Select Subject File </span>
<!--                                <span class="formbold-or"> Or </span>-->
                                <span class="formbold-browse"> Browse </span>
                            </div>
                        </label>
                    </div>
                    <!-- <div class="formbold-mb-5 formbold-file-input">
                        <label for="sender_email_conf">
                            <input type="file" name="sender_email_conf" id="sender_email_conf" />
                            <div>
                                <span class="formbold-drop-file"> Select Sender Email Configuration </span> -->
<!--                                <span class="formbold-or"> Or </span>-->
                                <!-- <span class="formbold-browse"> Browse </span>
                            </div>
                        </label>
                    </div> -->
                    <div class="formbold-mb-5 formbold-file-input">
                        <label for="rcvr_emails">
                            <input type="file" name="rcvr_emails" id="rcvr_emails" />
                            <div>
                                <span class="formbold-drop-file"> Select Receiver Email List </span>
<!--                                <span class="formbold-or"> Or </span>-->
                                <span class="formbold-browse"> Browse </span>
                            </div>
                        </label>
                    </div>
                    <!-- <div class="formbold-mb-5 formbold-file-input">
                        <label for="html_body">
                            <input type="file" name="html_body" id="html_body" />
                            <div>
                                <span class="formbold-drop-file"> Select Email Body </span> -->
<!--                                <span class="formbold-or"> Or </span>-->
                                <!-- <span class="formbold-browse"> Browse </span>
                            </div>
                        </label>
                    </div> -->
                    <div class="formbold-mb-5 formbold-file-input">
                        <label for="html_body_content">
                            <input type="file" name="html_body_content" id="html_body_content" />
                            <div>
                                <span class="formbold-drop-file"> Select Email Body Content </span>
<!--                                <span class="formbold-or"> Or </span>-->
                                <span class="formbold-browse"> Browse </span>
                            </div>
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="formbold-btn w-full">Send File</button>
                    </div>
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <center><p style="color: red;">{{ message }}</p></center>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>
